@font-face {
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-family: Montserrat;
}
:root{
  --color1: white;
  --color2: #1f1717;
  --color3: #fafafa;
  --color4: hsl(343, 87%, 75%);
  --color5: black;
}


.darkmode{
  --color1: black;
  --color2: white;
  --color3: #1f1717;
  --color4: hsl(343, 54%, 46%);
  --color5: white;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #dfd3d6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 120px;
  /* background-color: white; */
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
.imagem_navbar {
  position: fixed;
  left: 50px;
}
.header_pos {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 80px;
  padding: 20px 62px;
  border-radius: 40px;
  background: var(--color1);
  display: flex;
  z-index: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar_pos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar_pos a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: var(--color2);
  font-weight: 540;
  font-size: 1.3em;
}
/* ________________________________________________ */

.mode-switch {
  position: absolute;
  right: 120px;
}


.side-bar {
  display: flex;
  position: relative;
  margin-left: auto;
  align-items: center;
}

.link-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;

  position: fixed;
  top: 0px;
  right: -20%;
  z-index: 7;
  width: 15%;

  transition-duration: 0.55s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: var(--color1);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
}

.side-bar a {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--color2);
}


.side-bar a:hover {
  background-color: var(--color4);
  transition-duration: 0.30s;
  transition-delay: 0s;
  transition-timing-function:ease-out;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  padding: 20px;
  display: block;
}
.fa-xmark {
  color: var(--color5);
}
#theme-switch {
  background-color: transparent;
}
#sidebar-active:checked ~ .link-container {
  right: 0px;
}

#sidebar-link-1 {
  margin-top: 60px;
}

#sidebar-link-second-last {
  margin-top: auto;
}

/*-----------------------------------------------------*/

.grid-1 {
  display: grid;
  /* margin-top: 120px; */
  height: 1200px;
  width: 100%;
  background-color: #eee;
  grid-template-columns: repeat(21, 1fr);
  grid-template-rows: repeat(21, 1fr);
  grid-row: 4 / 22;
  grid-column: 15 / 22;
  padding: 5%;
  background: url(../images/árvore\ pos\ login.png) no-repeat center center;
  background-size:cover;
  position: relative;
}

.box-top {
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  height: 100%;
  font-size: 1.8em;
  display: flex;
  grid-row: 2 / 4;
  grid-column: 1 / 22;
  justify-content: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - */
.main-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-row: 3 / 22;
  grid-column: 1 / 20;
  background-color: transparent;
  padding: 5%;

}
.profile-picture {
  background: url(../images/Logo_cerejeira.png) no-repeat center center;
  background-size:cover;
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 280px;
  grid-row: 1 / 7;
  grid-column: 1 / auto;
}

.box-name {
  position: relative;
  grid-row: 4 / auto;
  grid-column: 4 / 17;
  height: auto;
  width: auto;
  background-color: #1F1717;
  color: white;
  box-shadow:  4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4.5%;
  border-radius: 10px;
  font-weight: 500;
  align-content: center;
}

.box-email {
  position: relative;
  grid-row: 6 / auto;
  grid-column: 4 / 17;
  height: auto;
  width: auto;
  background-color: #1F1717;
  color: white;
  box-shadow:  4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4.5%;
  border-radius: 10px;
  font-weight: 500;
  align-content: center;
}

.box-status{
  position: relative;
  grid-row: 8 / auto;
  grid-column: 4 / 17;
  height: auto;
  width: auto;
  background-color: #1F1717;
  color: white;
  box-shadow:  4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4.5%;
  border-radius: 10px;
  font-weight: 500;
  align-content: center;
  resize: none;
  outline: none;
}

.box-meta{
  position: relative;
  grid-row: 6 / auto;
  grid-column: 1 / 5;
  height: 50%;
  width: 60%;
  background-color: #1F1717;
  color: white;
  box-shadow:  4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 4.5%;
  border-radius: 10px;
  font-weight: 500;
  align-content: center;
  resize: none;
  outline: none;
}

.button- {
  position: relative;
  grid-row: 11 / auto;
  grid-column: 12 / 17;
  background-color: #1F1717;
  color: white;
  box-shadow:  4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 4.5%;
  font-weight: 500;
  text-align: center;
  align-content: center;
}
/* ----------------------------------------- */

/* ---------------------------------------------- */

button:hover {
  opacity: 0.8;
}
.darkmode #dark-overlay {
  opacity: 1;
}
i {
  cursor: pointer;
  background-color: transparent;
}
.delete-session-btn {
  background-color: transparent;
}
.fa-trash {
  margin-left: 20px;
  color: rgb(196, 0, 0);
}