@media screen and (max-width: 500px){
    .logo{
        width: 245px;
        margin-right: auto;
    }
    .voltar{
        width: 90px;
        height: 49px;
        margin-right: 20px;
        margin-left: auto;
    }
    .p-button, .s-button{
        width: 210px;
        height: 65px;
    }
    
    input{
        width: 315px;
        height: 60px;
    }
}

@media screen and (max-width: 465px){
    .card{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .logo{
        width: 165px;
        margin-right: 10px;
    }
    .voltar{
        width: 80px;
        height: 45px;
        margin-right: 5px;
    }       
    .p-button, .s-button{
        width: 210px;
        height: 65px;
    }
    
    .line{
        width: 90%;
    }

    input{
        width: 265px;
        height: 60px;
    }
}