@media (max-width: 1000px) {
    .imagem_navbar {
      position: static;
      width: 25%;
    }
  header {
    padding: 0;
  }
    .header_pos {
      display: none;
    }
    body {
      margin: 0;
      height: 100vh;
      background-attachment: fixed;
      overflow-x: hidden;
    }
    .side-bar {
      display: block;
      /* background-color: aqua; */
    }
    .open-sidebar-button {
        width: 80%;
        position: absolute;
        top: -30px;
        right: 30px;
        cursor: pointer;
        display: block;
      }
    .link-container {
        width: 50%;
        right: -50%;
      }
    #sidebar-active:checked ~ .link-container {
      right: 0;
    }
    /******Cabeçalho//header************/
  }

@media (max-width:820px){
    .prev-hist {
        height: 5.3em;

    }




}


@media(max-width:520px){
    .clock{
        height: 380px;
        width: 380px;
    }

    .historico-header {
        font-size: 0.7em;
    }
    .hist{
        font-size: 0.8em;
    }
    .prev-hist{
        height: 6em;
        line-height: 1.3em;
    }

    .modes{
        width: 50%;
    }

}