* {
  margin: 0;
  overflow: hidden;
}

body {
  background: rgb(96, 53, 53) !important;
  background: linear-gradient(
    0deg,
    rgba(96, 53, 53, 1) 0%,
    rgba(249, 176, 176, 1) 100%
  ) !important;
}

header.container-nav {
  display: flex;
  align-items: center;
  gap: 55%;
  height: 10vh;
  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  position: relative;
  z-index: 10;
}

.imagem-sla {
  width: 100%; /* Ajusta a largura */
  height: 60vh; /* Mantém a proporção */
  position: absolute; /* Permite posicionar dentro da div */
  bottom: 0; /* Alinha ao fundo */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para o centro exato */
  opacity: 70%;
}

section {
  width: 100%;
  height: 90vh;
  background: rgb(96, 53, 53) !important;
  background: linear-gradient(
    0deg,
    rgba(96, 53, 53, 1) 0%,
    rgba(249, 176, 176, 1) 100%
  ) !important;
  position: relative; /* Mantém a seção como referência para elementos filhos */
  z-index: 1; /* Certifica-se de que está atrás da .sla */
}

.logo-nav {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  /* background-color: red; */
}

.button-nav {
justify-content: end;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 30%;
  height: auto;

  /* background-color:green ; */
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container-body {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 400px;
  /* background-color: blue; */
}

.titulo h1 {
  font-size: 45px;
  height: 10vh;
  width: 350px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  /* background-color: saddlebrown; */
}

.container-balao {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  /* background-color: yellow; */
}

.balao {
  display: flex;
  flex-direction: column;

  width: 520px;
  height: 300px;
  background-color: #ffffff;
  opacity: 75%;
  border-radius: 8%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.titulo-balao {
  text-align: center;
  width: 520px;
  height: 60px;
  margin-top: 4%;
  border-radius: 25%;
  /* background-color: aqua; */
}

.titulo-balao h1 {
  height: 100%;
  font-size: 28px;
  /* background-color: rebeccapurple; */
}

.paragrafo-balao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;

  /* background-color: green; */
}

.paragrafo-balao p {
  margin-top: 2%;
  margin: 0;
  text-align: justify;
  width: 80%;
  height: 200px;
  /* background-color: purple; */
}
