@font-face {
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-family: Montserrat;
}

:root{
  --color1: white;
  --color2: #1f1717;
  --color3: #fafafa;
  --color4: hsl(343, 87%, 75%);
  --color5: black;
  --color6: #FA9797;
  --color7: #eee;
  --color8: #FBE2E2;
  --color9: #f97777;
  --color10: #b15959;
  --color11: #603535;
  --color12: #DFD3D6;
  --color13: #fff;
  --color14: #FBE2E2;
}


.darkmode{
  --color1: black;
  --color2: white;
  --color3: #1f1717;
  --color4: hsl(343, 54%, 46%);
  --color5: white;
  --color6: #ce7c7c;
  --color7: #cbcbcb;
  --color8: #e6cfcf;
  --color9: #e06b6b;
  --color10: #964c4c;
  --color11: #181010;
  --color12: #c9bfc1;
  --color13: #dedede;
  --color14: #271d1d;
}


html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: #DFD3D6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header {
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 120px;
  /* background-color: white; */
  z-index: 5;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
button:hover {
  opacity: 0.6;
}
.imagem_navbar {
  position: fixed;
  left: 50px;
}
.header_pos {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 80px;
  padding: 20px 62px;
  border-radius: 40px;
  background: var(--color1);
  display: flex;
  z-index: 5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar_pos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar_pos a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: var(--color2);
  font-weight: 540;
  font-size: 1.3em;
}
/* ________________________________________________ */

.mode-switch {
  position: absolute;
  right: 120px;
}

.side-bar {
  display: flex;
  position: relative;
  margin-left: auto;
  align-items: center;
}
.link-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;

  position: fixed;
  top: 0px;
  right: -20%;
  z-index: 9;
  width: 15%;

  transition-duration: 0.55s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: var(--color1);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
}
.side-bar a {
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--color2);
}
.side-bar a:hover {
  background-color: var(--color4);
  transition-duration: 0.30s;
  transition-delay: 0s;
  transition-timing-function:ease-out;
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  padding: 20px;
  display: block;
}
.fa-xmark {
  color: var(--color5);
}
#theme-switch {
  background-color: transparent;
}
#sidebar-active:checked ~ .link-container {
  right: 0px;
}
#sidebar-link-1 {
  margin-top: 60px;
}
#sidebar-link-second-last {
  margin-top: auto;
}
main {
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.main-container {
  min-height: 1200px;
  height: auto;
  width: 90vw;
  padding: 0px 8vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  margin-top: 200px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 75px;
}

.header-container {
  position: absolute;
  width: calc(90vw - 16vw);
  height: 150px;
  border-radius: 20px;
  background-color: rgb(255, 252, 252);
}
.header-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 40px;
  gap: 10px;
}
.header-item {
  display: flex;
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  border-radius: 20px;
  height: 100%;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: #1F1717;
}

.container-grid {
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 40px;
  gap: 10px;
  background-color: #FBE2E2;
  border: 1px solid black;
  border-radius: 12px;
  padding-bottom: 90px;
}
.grid-item {
  display: flex;
  background-color: #483636;
  border-radius: 50px;
  align-items: center;
  padding: 25px;
  gap: 18px;
}
.collumn {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: 10px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.list li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #483636;
  border-radius: 50px;
  padding: 15px 25px;
  color: white;
  max-width: 100%;
  overflow: hidden; 
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word; 
}
.text {
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  color: white;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: break-word; 
}
.buttons {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  padding: 10px; 
  height: 100%; 
  gap: 25%;
}
.buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.buttons button i {
  color: #ddd;
}
/* .buttons button:hover i {
  color: #fff;
} */
.buttons button.delete i {
  color: red;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}
button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
ul {
  list-style-type: none;
  padding: 0;
}

/*------------------------------------------------------------*/
/*   Modal   */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #EDDEE1;
  padding: 20px 30px ;
  border-radius: 8px;
  width: 50vw;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal textarea {
  width: 100%;
  height: 30vh; 
  overflow-y: auto; 
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #1F1717;
  font-size: 16px;
  line-height: 1.5;
  resize: none; 
}

.modal button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#saveEdit {
  background-color: #FFA6A6;
  color: #1F1717;
  font-weight: 580;
}

#cancelEdit {
  background-color:#1F1717;
  color: white;
  font-weight: 580;
}
.move-to-column {
  background-color: #FFB6B6;
  color: #1F1717;
  font-weight: 580;
}

.move-to-column:hover {
  opacity: 90%;
}
.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaço entre os botões */
}
.modal-move {
  display: flex;
  gap: 10px; /* Espaço entre os botões */
  justify-content: center;
}

.modal-move button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #3d0f0f;
  color: white;
  cursor: pointer;
  
}

.modal-move button:hover {
  opacity: 90%;
}

#saveEdit, #cancelEdit {
  padding: 10px 20px;
  background-color: #FFA6A6;
  color: #1F1717;
  font-weight: 580;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 25%;
  min-width: 90px;
}

#cancelEdit {
  background-color:#1F1717;
  color: white;
}

#saveEdit:hover {
  opacity: 80%;
}

#cancelEdit:hover {
  opacity: 90%;
}



#dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
  pointer-events: none; /* Para não interferir nos cliques */
  opacity: 0;
  z-index: 3;
  transition: opacity 0.3s ease-in-out;
}


.darkmode #dark-overlay {
  opacity: 1;
}

i {
  cursor: pointer;
  background-color: transparent;
}
.fa-moon {
  color: black;
}