html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-image: url(../images/árvore\ pos\ login.png);
  background-size: cover;
  background-position: center;
}
header{
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 120px;
  /* background-color: white; */
  z-index: 100;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
button{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}
.imagem_navbar {
  position: fixed;
  left: 50px;
}
.header_pos {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 80px;
  padding: 20px 62px;
  border-radius: 40px;
  background: white;
  display: flex;
  z-index: 100;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar_pos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar_pos a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: #1f1717;
  font-weight: 540;
  font-size: 1.3em;
}
/* ________________________________________________ */

.side-bar{
  display: flex;
  position: relative;
  margin-left: auto;
  align-items: center;
  
}
.link-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: flex-start;

  position: fixed;
  top: 0px;
  right: -20%;
  z-index: 1000;
  width: 15%;
  
  transition-duration: 0.55s;
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: white;
  box-shadow: -5px  0 5px rgba(0, 0, 0, 0.25);

}
.side-bar a{
  box-sizing: border-box;
  display: block;
  height: auto;
  width: 100%;
  padding: 20px 30px;
  justify-content: flex-start;
  text-decoration: none;
  color: #1F1717;
}
.side-bar a:hover{
  background-color: hsl(343, 87%, 75%);
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  padding: 20px;
  display: block;
}
#sidebar-active:checked ~ .link-container{
  right: 0px;
}
#sidebar-link-1{
  margin-top: 60px;
}
#sidebar-link-second-last{
  margin-top: auto;
}

/*__________________________________________*/
main{
  display: flex;
  position: relative;
  height: 900px;
  margin-top: 120px;
  /* border: purple 5px solid; */
}

.mensagem_inicial {
  display: flex;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: 700;
  /* background-color: green; */
}

/* ______________________________________________________ */

.visao_geral {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 112px;
  margin-left: 126px;
  width: 937px;
  /* border: red dashed 2px; */
  height: 100px;
}
.tarefas_progresso {
  position: relative;
  display: flex;
  height: 100px;
  width: 205px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.tarefas_concluidas {
  position: relative;
  display: flex;
  height: 100px;
  width: 205px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.tempo_de_foco{
  position: relative;
  display: flex;
  height: 100px;
  width: 205px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.provas_futuras{
  position: relative;
  display: flex;
  height: 100px;
  width: 205px;
  padding: 10px 10px 10px 10px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.visao{
  position: absolute;
  margin-top: 86px;
  margin-left: 126px;
  font-size: 20px;
}

/* _______________________________________________________________________ */

.continue_onde_parou {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 412px;
  margin-left: 126px;
  width: 937px;
  /* border: red dashed 2px; */
  height: 200px;
}
.container_rotina {
  display: flex;
  height: 200px;
  width: 205px;
  padding: 10px 21px 6px 20px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.container_desempenho {
  display: flex;
  height: 200px;
  width: 205px;
  padding: 10px 21px 6px 20px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.container_biblioteca{
  display: flex;
  height: 200px;
  width: 205px;
  padding: 10px 21px 6px 20px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}
.container_foco{
  display: flex;
  height: 200px;
  width: 205px;
  padding: 10px 21px 6px 20px;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.continue{
  display: flex;
  position: absolute;
  margin-top: 386px;
  margin-left: 126px;
  font-size: 20px;
  /* border:deeppink 2px solid; */
}

/* ___________________________________________________________________-- */

.container_direita{
  position: absolute;
  display: flex;
  right: 126px;
  margin-top: 86px;
  height: 680px;
  width: 205px;
  flex-wrap: nowrap;
  /* border: orange 1px solid; */
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.calendario{
  position: absolute;
  display: flex;
  height: 230px;
  width: 205px;
  background-color: white;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}
.button{
  position: absolute;
  display: flex;
  width: 170px;
  height: 42px;
  background-color: #1F1717;
  border-radius: 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}
.atividade{
  position: absolute;
  display: flex;
  height: 380px;
  width: 205px;
  bottom: 0px;
  border-radius: 16px;
  background-color: white;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}
#button_ver_mais {
  bottom: 0px
}
#button_Ver_amigos {
  bottom: 15px;
}

.tarefas-progresso-texto{
  display: flex;
  font-size: medium;
  height: 28px;
  /* background-color: #1F1717; */
}

.tarefas-progresso-variavel{
  display: flex;
  bottom: 10px;
  position: absolute;
  background-color: blue;
  height: 42px;
  width: 185px;
}