@font-face{
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-family: Montserrat;
  }
html {
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
body{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(252, 229, 229), rgb(251, 210, 210), #FAC2C2, #F9A5A5, #603535);
    background-size: cover;
    background-position: center;
   
}

/*------------------------------------*/

.width-100{
    width: 100%;
}

.height-100{
    height: 100%;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center-x{
    justify-content: center;
}

.center-y{
    align-items: center;
}

.pad-0 {
    padding: 0px;
}


/*------------------------------------*/

.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 62px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sub-header {
    position:relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 80px;
    padding: 20px 62px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-petala {
    width: 80%;
}

.nav_bar_links{
    position: relative;
    font-size: 20px;
    color: #483636;
    font-weight: 500;
    text-decoration: none;
}
.nav_bar_links::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 2px;
    background: #483636;
    transition: .3s;
}

.nav_bar_links:hover::before{
    width: 100%;
}

.button-dark{
    position: relative;
    padding: 12px 30px;
    background: #1F1717;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: 500;
    margin-left: 19px;
    font-size: 20px;
    text-decoration: none;
}

/*_______________________________________________________*/

.container_funcionalidades{
    position: relative;
    margin-top: 165px;
    height: 553px;
    width: 90%;
    border-radius: 40px;
    margin-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/arvoredecerejeira.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}
.background_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    border-radius: 40px;
}
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 73px;
}
.enter-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 65px;
}
.sub-title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    white-space: normal;
    text-align: center;
    width: 750px;
    margin: 0 auto;
    margin-top: 65px;
}
/*-----------------------------------*/

.funcoes {
    position: relative;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container_funcao {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    width: 90%;
    border-radius: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: white;
    margin-top: 150px;
    opacity: 0; 
}

.container_funcao.animar.left {
    animation-name: Enter_Screen_Left;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.container_funcao.animar.right {
    animation-name: Enter_Screen_Right;
    animation-duration: .8s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes Enter_Screen_Left {
    from {
        transform: translateX(-1200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes Enter_Screen_Right {
    from {
        transform: translateX(1200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.imagem_funcao{
    margin-right: auto;
}
.texto_funcao{
    position: relative;
    font-size: 32px;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
}
.imagem_funcao_even{
    position: relative;
    margin-left: auto;
}
.texto_funcao_even{
    position: relative;
    font-size: 32px;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
}

/*----------------------------------------*/

footer{
    display: flex;
    position: relative;
    margin-bottom: 0px;
    margin-top: 90px;
    height: 236px;
    width: 100%;
    background: white;
    align-items: center;

}

.sub-footer {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 62px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.sub-sub-footer {
    position:relative;
    background: white;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.petala_rodape{
    font-size: 34px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 15px;
}
.container{
    width: 100%;
    display: flex;
    justify-content:right;

}
.button-light{
    position: relative;
    padding: 12px 30px;
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1F1717;
    font-weight: 500;
    margin-left: 19px;
    font-size: 20px;
    text-decoration: none;
    width: fit-content;
}
#bt3{
    margin-right: 24px;
    background: #1F1717;
    color: white;
}
.icones_contato {
    display: flex;
    bottom: 10px;
    left: 80px;
    gap: 14px;
}
.icones_contato a {
    font-size: 24px; 
    color: black; 
    text-decoration: none; 
}
.icones_contato a:hover {
    color: #555; 
}

/*----------------------------------------*/

.side-bar {
    display: none;
    position: relative;
    align-items: center;
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
  
    position: fixed;
    top: 0px;
    right: -30%;
    z-index: 1000;
    width: 25%;
  
    transition-duration: 0.55s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: white;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  }
  
  .side-bar a {
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: #1f1717;
  }
  
  .side-bar a:hover {
    background-color: hsl(343, 87%, 75%);
  }
  
  #sidebar-active {
    display: none;
  }
  
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  
  #sidebar-active:checked ~ .link-container {
    right: 0px;
  }
  
  #sidebar-link-1 {
    margin-top: 60px;
  }
  
  #sidebar-link-second-last {
    margin-top: auto;
  }

/*----------------------------------------*/

@media screen and (max-width: 1360px) {
    .nav_bar_links{
        font-size: 17px;
    }

}

@media screen and (max-width: 1080px) {
    .nav_bar_links{
        font-size: 12px;
    }

    .button-dark{
        font-size: 10px;
    }

}

@media screen and (max-width: 900px) {
    .side-bar {
        display: flex;
    }

    .hidden-900{
        display: none;
    }

    .sub-header {
        display: none;
    }

    .sub-sub-footer{
        display: none;
    }

    .sub-footer {
        position:relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        padding: 20px 0px;
        display: flex;
        z-index: 100;
        justify-content: center;
    }

    .enter-text{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin-top: 65px;
    }

    .texto_funcao_even{
        font-size: 20px;
    }

    .texto_funcao{
        font-size: 20px;
    }

    .imagem_funcao{
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .link-container {
        right: -50%;
        width: 40%;
      }
    
      .container_funcao {
        margin-top: 50px;
    }

    .container_funcionalidades{
        height: fit-content;
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 425px) {
    .link-container {
        right: -60%;
        width: 55%;
      }

    .texto_funcao_even{
        font-size: 17px;
        margin: 5px;
    }

    .texto_funcao{
        font-size: 17px;
        margin: 5px;
    }

    .container_funcao {
        margin-top: 50px;
    }

    .container_funcionalidades{
        height: fit-content;
        margin-bottom: 50px;
    }


}