@font-face{
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-family: Montserrat;
  }

/*------------------------------------*/

.width-100{
    width: 100%;
}

.height-100{
    height: 100%;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.center-x{
    justify-content: center;
}

.space{
    justify-content: space-evenly;
}

.center-y{
    align-items: center;
}

.pad-0 {
    padding: 0px;
}

.fit{
    width: fit-content;
    height: fit-content;
}


/*------------------------------------*/

html {
    scroll-behavior:smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 20px;
}

.sub-header {
    position:relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 80px;
    padding: 20px 62px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-petala {
    width: 80%;
    margin-top: 2px;
}

.nav_bar_links{
    position: relative;
    font-size: 20px;
    color: #483636;
    font-weight: 500;
    text-decoration: none;
}

.nav_bar_links::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 2px;
    background: #483636;
    transition: .3s;
}

.nav_bar_links:hover::before{
    width: 100%;
}

.button-light{
    position: relative;
    padding: 12px 30px;
    background: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #1F1717;
    font-weight: 500;
    margin-left: 19px;
    font-size: 20px;
    text-decoration: none;
    width: fit-content;
}
.button-dark{
    position: relative;
    padding: 12px 30px;
    background: #1F1717;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: 500;
    margin-left: 19px;
    font-size: 20px;
    text-decoration: none;
}

body{
    overflow-x: hidden;
    min-height: 100hv;
    width: 100%;
    background: linear-gradient(to bottom, rgb(252, 229, 229), rgb(251, 210, 210), #FAC2C2, #F9A5A5, #603535);
    background-size: cover;
    background-position: center;
   
}


/*______________________________________________________________________*/


.header{
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 62px;
    background: white;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.Logo {
    cursor: pointer;
    height: 4em;
    /* margin-right: auto; */
}
li ,a {
    text-decoration: none;
    padding: 0px;
}
.nav_link{
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    padding: 0;
    /* border: greenyellow 2px solid; */
}
.nav_link li{
    display: inline-block;
    padding: 0px 2em;
    width: auto;
    border: none;
}
.navbar{
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); 
    /* background-color: red; */
    align-content: center;
}
.nav_link li a {
    position: relative;
    white-space: nowrap;
    font-size: 1em;
    color: #483636;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3 ease 0s;
    padding: 1.5em 1em;
    
}
.NavBar-extra::before {
    display: inline-flex;
    content: '';
    position: absolute;
    top: 3em;
    left: 0;
    width: 0px;
    height: 3px;
    background: #483636;
    transition: .3s;

}
.NavBar-extra:hover::before {
    width: 100%;
}
/* .nav_link li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 2px;
    background: #483636;
    transition: .3s;
}

.nav_link li a:hover::before{
    width: 100%;
} */


#buttonsep{
    /* margin-left: auto; */
    margin: none;
}
#bt1{
    margin: none;
}


/*______________________________________________________________________*/

.arrow {
    display: none;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border-color: transparent;
    font-size: 10vw;
    color: #1F1717;
}

.arrow:hover {
    color: #120d0d;
}

.arrow:active {
    color: #120d0d;
    transform: translateY(4px);
}

/*______________________________________________________________________*/

.caixa_de_texto_inicial{
    position: relative;
    margin-top: 165px;
    height: 553px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    margin-bottom: 140px;
    background-image: url(../images/arvoredecerejeira.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    pointer-events: none;
    border-radius: 40px;
  }
.center-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 3.5em;
}
.center-image img {
    height: 6em;
}
.center-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text1{
    font-weight: 600;
    margin-top: 65px;
    font-size: 2em;
    text-align: center;
}
#text2{
    margin-top: 65px;
    font-size: 1.6em;
    text-align: center;
}
#text3{
    font-size: 1.6em;
    text-align: center;
}

/*______________________________________________________________________*/



.line{
    display: flex;
    height: 500px;
    width: 100%;
    /* border: solid 2px; */
    margin: auto;
    margin-top: 70px;
}
.Line_left{
    left: 10%;
    height: 500px;
    width: 500px;
    background: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
}
.Line_right{
    right: 10%;
    height: 500px;
    width: 500px;
    background: white;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
}
.caixa_texto_linha{
    position: relative;
    height: fit-content;
    text-align: center;
    padding: 0px;
    
    
}

.titulo_linha{
    height: fit-content;
    font-weight: 750;
}

#img_line{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#text_line{
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.2em;
    font-weight: 500;
    line-height: 36px;
    padding: 80px;
}

.img{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 50px;
}

/*______________________________________________________________________*/


.barra_final{
    margin-top: 194px;
    background: white;
    height: 267px;
    width: 100%;
    padding-top: 14px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}
.caixa_de_texto{
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    /*border: solid 2px;*/
}
.textos{
    font-weight: 200;
}
#botao-estude-agora{
    font-size: 1.2em;
    font-weight: 700;
    height: 90px;
    width: 345px;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    

}


/*______________________________________________________________________*/


.texto-pre-comentario{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 264px;
}
.comentarios{
    width: 80%;
    height: 420px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.caixa-de-comentario{
    width: 405px;
    height: 235px;
    border-radius: 12px;
    background: white;
    padding: 18px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}


/*______________________________________________________________________*/


footer{
    display: flex;
    position: relative;
    margin-bottom: 0px;
    margin-top: 90px;
    height: 236px;
    width: 100%;
    background: white;
    align-items: center;

}

.sub-footer {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 62px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.sub-sub-footer {
    position:relative;
    background: white;
    padding: 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.petala_rodape{
    font-size: 34px;
    font-weight: 700;
    align-items: center;
    margin-bottom: 15px;
}
.container{
    width: 100%;
    display: flex;
    justify-content:right;
}

#bt3{
    margin-right: 1.2em;
}
.icones_contato {
    width: 10px;
    display: flex;
    bottom: 10px;
    left: 80px;
    gap: 14px;
}
.icones_contato a {
    font-size: 24px; 
    color: black; 
    text-decoration: none; 
}
.icones_contato a:hover {
    color: #555; 
}

/*----------------------------------------*/

.side-bar {
    display: none;
    position: relative;
    align-items: center;
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
  
    position: fixed;
    top: 0px;
    right: -30%;
    z-index: 1000;
    width: 25%;
  
    transition-duration: 0.55s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: white;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  }
  
  .side-bar a {
    box-sizing: border-box;
    display: block;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    text-decoration: none;
    color: #1f1717;
  }
  
  .side-bar a:hover {
    background-color: hsl(343, 87%, 75%);
  }
  
  #sidebar-active {
    display: none;
  }
  
  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  
  #sidebar-active:checked ~ .link-container {
    right: 0px;
  }
  
  #sidebar-link-1 {
    margin-top: 60px;
  }
  
  #sidebar-link-second-last {
    margin-top: auto;
  }

/*----------------------------------------*/

@media (max-width: 1330px) {    /*A navbar Quebra*/
    
    .icones_contato a {
        font-size: 24px; 
    }
    
    *{
        font-size: 18px;
    }
    .line{
        /* background-color: greenyellow; */
    }
}



@media (max-width: 1281px){     /* Imagens e Textos se sobrepoem */
    
    .icones_contato a {
        font-size: 24px; 
    }
    
    *{
        font-size: 20px;        /* Tentar aumentar */
    }
    .header{
        padding: 20px 20px;
    }
    .line{
        /* background-color: red; */
    }
    #buttonsep{
        margin-left: 19px;
    }
    .Line_left{
        width: 48%;
        left: 0%;
    }
    .Line_right{
        right: 0%;
        width: 48%;
    }
}


@media (max-width:1056px){
    
    .icones_contato a {
        font-size: 24px; 
    }
    
    *{
        font-size: 18px;
    }

    #text_line{
        padding: 60px;
    }
    .nav_link li{
        display: inline-block;
        padding: 0px 0.5em;
    }
    .NavBar-extra {
        margin-left: 20px;
    }
    .line{
        /* background-color: blueviolet; */
    }
    .Line_left{
        width: 49.8%;
    }
    .Line_right{
        width: 49.8%;
    }
}

@media (max-width:865px){ 
    .icones_contato a {
        font-size: 24px; 
    }

    *{
        font-size: 16px;
    }
    
    #text_line{
        padding: 50px;
    }

    .nav_link li{
        padding: 0px 0em;
    }
    .nav_link a[href="#contatos"] {
        display: none;
      }
    .line{
        /* background-color: gold; */
    }
    
}

@media (max-width:710px) {
    .icones_contato {
        font-size: 24px; 
    }

    *{
        font-size: 14px;
    }
    .comentarios{
        justify-content: center;
    }

    .caixa-de-comentario {
        display: none;
    }

    .caixa-de-comentario.active{
        display: block;
    }
    
    .arrow {
        display: block;
    }

    #text_line{
        padding: 40px;
    }

    .icones_contato a {
        font-size: 24px; 
    }

    .header{
        padding: 10px 10px;
    }
    .header img{
        height: 40px;
    }
    .NavBar-extra {
        margin-left: 10px;
    }
    .button-dark{
        padding: 9px 22.5px;
    }
    .line{
        /* background-color: #171717; */
    }

}


@media (max-width: 560px){
    *{
        font-size: 12px;
    }
    #text_line{
        padding: 30px;
    }
    .header{
        height: 50px;
    }
    .line{
        /* background-color: chartreuse; */
    }
    .caixa_texto_linha{
        line-height: 30px;
    }
    .button-dark{
        padding: 8px 10px;
    }
}

/* Celulares Pequenos */

@media (max-width: 515px){

    .navbar-buttons a[href="register.html"] {
        display: none;
    }
}
/* OU SEM AS IMAGENS */
@media (max-width:511px){

    #text_line {
        width: 100%;
        padding: 80px;
    }
    .caixa_texto_linha{
        line-height: 30px;
        font-size: 16px;
    }

    #text_line{
        padding: 50px 30px;
    }

    .titulo_linha{
        font-size: 20px;
    }
    #img_line {
        display: none;
    }
    .navbar-buttons a[href="register.html"] {
        display: none;
    }
}

@media (max-width:405px){
    .caixa_texto_linha{
        font-size: 16px;
    }
}

@media screen and (max-width: 1360px) {
    .nav_bar_links{
        font-size: 17px;
    }

}

@media screen and (max-width: 1080px) {
    .nav_bar_links{
        font-size: 12px;
    }

    .button-dark, .button-light{
        font-size: 10px;
    }

}
@media screen and (max-width: 965px) {
    .Line_left{
        height: 450px;
    }
    .Line_right{
        height: 450px;
    }
}

@media screen and (max-width: 900px) {
    .side-bar {
        display: flex;
    }

    .hidden-900{
        display: none;
    }
    
    .sub-sub-footer{
        display: none;
    }

    .sub-footer {
        position:relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        padding: 20px 0px;
        display: flex;
        z-index: 100;
        justify-content: center;
    }

}

@media screen and (max-width: 650px) {
    .link-container {
        right: -50%;
        width: 40%;
      }
}

@media screen and (max-width: 425px) {
    .link-container {
        right: -60%;
        width: 55%;
      }
    
    #botao-estude-agora{
        width: 80%;
    }

}



/*______________________________________________________________________*/
